<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>User7</key>
	<dict>
		<key>name</key>
		<string>沈眉庄</string>
		<key>icon</key>
		<string>shenmeizhuang.jpg</string>
		<key>id</key>
		<string>7</string>
	</dict>
	<key>User6</key>
	<dict>
		<key>name</key>
		<string>安陵容</string>
		<key>icon</key>
		<string>anlingrong.jpg</string>
		<key>id</key>
		<string>6</string>
	</dict>
	<key>User5</key>
	<dict>
		<key>name</key>
		<string>果郡王</string>
		<key>icon</key>
		<string>guojunwang.jpg</string>
		<key>id</key>
		<string>5</string>
	</dict>
	<key>User4</key>
	<dict>
		<key>name</key>
		<string>华妃</string>
		<key>icon</key>
		<string>huafei.jpg</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<key>User3</key>
	<dict>
		<key>name</key>
		<string>皇后</string>
		<key>icon</key>
		<string>huanghou.jpg</string>
		<key>id</key>
		<string>3</string>
	</dict>
	<key>User2</key>
	<dict>
		<key>name</key>
		<string>皇上</string>
		<key>icon</key>
		<string>huangshang.jpg</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<key>User1</key>
	<dict>
		<key>name</key>
		<string>甄嬛</string>
		<key>icon</key>
		<string>zhenhuan.jpg</string>
		<key>id</key>
		<string>1</string>
	</dict>
</dict>
</plist>
